*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Regole Header */
.banner-header{
    background-color: #ADD8E7;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}
.banner-nav{
    width: 800px;
    justify-content: space-between;
    background-color: #DAA51E;
}

/*Regole Utili */
.container{
    max-width: 800px;
    margin: 0 auto;
}

.padding{
    padding: 10px 10px;
}
.border{
    border: 2px dashed black;
}
a{
    text-decoration: none;
    color: black;
    margin: 0 10px;
}
.flex{
    display: flex;
}

/* Regole barra di navigazione */
.logo{
    justify-content: flex-start;
    width: 25%;
}
.login{
    flex-basis: 25%;
    justify-content: flex-end;
}
.link{
    flex-grow: 1;
    justify-content: center;  
}

/* Regole Jumbotron */
.main-header{
    background-color: #00038B;
    width: 100%;
    justify-content: center;
    padding: 40px 0;
}

.jumbo{
    height: 300px;
    background-color: #EF82ED;
    flex-basis: 60%;
}

/* Regole Sezioni */


.white{
    justify-content: center;
    background-color: #fff;
    padding: 40px 0;
}

.grey{
    justify-content: center;
    background-color: #D3D3D3;
    padding: 40px 0;
}

.big-section{
    min-height: 350px;
    background-color: #1E90FF;
    flex-basis: 60%;
}
.small-section{
    min-height: 350px;
    background-color: #FFC0CA;
    flex-basis: 40%;
}

.last-section{
    min-height: 700px;
    flex-basis: 100%;
    background-color: #218B21;
}
